* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Domine', serif;
    scroll-behavior: smooth;
    --bitcoin-orange: #f7931a;
    --bitcoin-light-orange: #ffc681;
    --bitcoin-gray: #4d4d4d;
    --light-blue: #d3e2f2;
    --electric-blue: #65def1;
    --yellow-green: #8ac926;
    --dogwood-rose: #d90368;
}

h1, h2, h3, h4, h5 {
    font-family: 'Merriweather', serif;
    color: var(--bitcoin-orange);
    font-weight: bold;
}

h6 {
    color: rgba(128, 128, 128, 0.349)
}

#active-tab {
    color: var(--bitcoin-orange) !important;
}

#active-tab:hover {
    color: var(--bitcoin-light-orange) !important;
}

.hidden {
    display: none;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 600px;
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 999;
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 998;
}

nav {
    box-shadow: 1px 1px 10px orange;
}

nav ul {
    font-weight: bold;
    font-size: 25px;
    color: var(--bitcoin-orange) !important;
}

.nav-link {
    font-size: 22px !important;
    color: var(--bitcoin-gray) !important;
    letter-spacing: 2px !important;
    margin: auto 7px !important;
}

.nav-link:hover {
    color: var(--bitcoin-orange) !important;
}

.active {
    color: var(--bitcoin-gray) !important;
}

.logo {
    width: 300px;
}

.btn-outline-success {
    color: var(--bitcoin-orange);
    border-color: var(--bitcoin-orange);
}

section {
    min-height: 400px !important;
}

.hero {
    margin-top: 145px;
    min-height: 600px;
    background: linear-gradient(45deg, var(--light-blue) 10%, white 21%, white 89%, var(--bitcoin-orange) 99%);
    /* background: radial-gradient(white 96%, var(--bitcoin-orange) 99%); */
}

.hero-color-reverse {
    /* margin-top: 145px; */
    min-height: 600px;
    background: linear-gradient(135deg,  var(--light-blue) 10%, white 21%, white 89%, var(--bitcoin-orange) 99%);
}

.hero-text-container {
    height: 600px;
}

.hero-header {
    font-size: 50px;
}

.hero-text {
    border-radius: 10px;
    border-bottom: 7px double var(--bitcoin-gray);
    padding-bottom: 15px;
}

.auto-type {
    font-weight: bold
}

.btn-primary {
    background-color: var(--bitcoin-orange);
    border-color: var(--bitcoin-gray);
    font-size: 25px;
}

.btn-primary:hover {
    background-color: orange;
    border-color: var(--bitcoin-orange);
}

.img-fluid {
    width: 100%;
}

.img-right {
    background: linear-gradient(45deg, var(--light-blue) 10%, white 21%, white 89%, var(--bitcoin-orange) 99%);
}

.img-left {
    background: linear-gradient(135deg,  var(--light-blue) 10%, white 21%, white 89%, var(--bitcoin-orange) 99%);
}

.last-home-sect {
    background: linear-gradient(135deg,  var(--light-blue) 10%, white 21%, white 89%, transparent 99%)
}

.hero-color-reverse img {
    width: 100%;
    height: 100%;
}

.welcome {
    min-height: 600px;
    background: linear-gradient(135deg, white 21%, white 89%, var(--bitcoin-orange) 99%);
    box-shadow: inset 0 10px 10px -10px var(--bitcoin-gray);
}

img {
    padding: 20px;
    border-radius: 20px;
}

.img-background-right {
    background: radial-gradient(rgb(250, 244, 232), var(--light-blue), transparent 70%);
}

.img-background-left {
    background: radial-gradient(rgb(243, 230, 203), var(--bitcoin-light-orange), transparent 60%)
}

.about {
    box-shadow: inset 0 10px 10px -10px var(--bitcoin-gray);

}

.chart {
    height: 100%;
    padding:  5% 10%;
}

.transition-img{
    width: 100%;
    padding: 0;
    border-radius: 0;
}

.newsletter-sect {
    position: relative;
    padding: 0 0 10% 0;
    /* box-shadow: inset 0 10px 10px -10px var(--bitcoin-gray); */
    background: linear-gradient(var(--bitcoin-orange), rgb(14, 13, 13));
}

.newsletter-img-sect {
    background: transparent !important;
    /* background-color:  */
}

.newsletter {
    border: 10px double white; 
    padding: 10%;
    border-radius: 20px;
    min-height: 600px;
    background: linear-gradient(rgb(201, 134, 46), rgb(185, 114, 21));
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.74);
}

label {
    color: white;
}

.email-sect {
    margin-bottom: 50px !important;
}

.options-sect {
    margin-bottom: 50px !important;
}

.newsletter-header {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 40px;
}

.newsletter-text {
    font-size: 25px;
}

.newsletter-btn {
    background-color: white;
    color: var(--bitcoin-gray);
    font-weight: bold;
}

footer {
    min-height: 150px;
    background-color: rgb(14, 13, 13);
}

/*  */
/*  */
/* Latest Crypto HTML */

.crypto-info {
    margin-top: 170px; 
    padding-top: 30px;
    /* background: linear-gradient(white, var(--light-blue), white, rgba(255, 166, 0, 0.144)) */
    background: linear-gradient(45deg, var(--light-blue), white, white, var(--bitcoin-orange));
}

.container {
    /* background: linear-gradient(var(--light-blue), var(--bitcoin-orange)); */
    /* background: radial-gradient(rgba(253, 169, 2, 0.089), white); */
    /* background: radial-gradient(#d3e2f2b6, white); */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.527);

}

.crypto-list {
    display: flex;
    align-items: center;
    min-height: 300px;
    font-weight: bold;
    font-size: 18px;
    /* box-shadow: 5px 5px 10px var(--bitcoin-gray); */
    border-left: 3px solid var(--bitcoin-gray);
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
}

.stats {
    display: flex;
    align-items: center;
    min-height: 300px;
    border-right: 3px solid var(--bitcoin-gray);
    border-radius: 10px;
}


/*  */
/*  */
/* Pricing Page */

.tier-list {
    margin-top: 170px;
    text-align: center;
    background: linear-gradient(white 30%, var(--bitcoin-light-orange));
}

.price-header {
    padding-top: 60px;
}

.price-sect {
    margin-top: 80px;
}

.tier {
    margin: 45px;
    padding: 3% 2%;
    min-height: 600px;
    border-radius: 50px;
    /* border: 5px solid black; */
    box-shadow: 1px 1px 10px orange;
    text-align: center;
    background: linear-gradient(var(--bitcoin-orange) 25%, white 25%);

}

.tier > h2 {
    color: white;
}

.tier > h3 {
    color: var(--bitcoin-gray);
    margin-top: 20%;
}

.tier > ul {
    margin-top: 10%;
}

.tier > ul > li {
    text-align: left;
}

.btn {
    margin-top: 20%;
}

.pricing-disclaimer {
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
    background-color: var(--bitcoin-light-orange);
    min-height: 300px !important;
}