* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Domine', serif;
    scroll-behavior: smooth;
    --bitcoin-orange: #f7931a;
    --bitcoin-light-orange: #ffc681;
    --bitcoin-gray: #4d4d4d;
    --light-blue: #d3e2f2;
    --electric-blue: #65def1;
    --yellow-green: #8ac926;
    --dogwood-rose: #d90368;
}

html {
    width: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Merriweather', serif;
    color: var(--bitcoin-orange);
    font-weight: bold;
}

h6 {
    color: rgba(128, 128, 128, 0.349)
}

#active-tab {
    color: var(--bitcoin-orange) !important;
}

#active-tab:hover {
    color: var(--bitcoin-light-orange) !important;
}

.hidden {
    display: none;
}

/* .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 600px;
    background-color: purple;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 999;
    text-align: center;
} */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 998;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 65%;
    width: 75%;
    margin-top: 70px;
    /* border: 5px solid black; */
    box-shadow: 0 0 30px var(--bitcoin-light-orange);
    border-radius: 30px;
    background: var(--bitcoin-orange);
    z-index: 999;
}

.exit {
    font-weight: bold;
    margin: 2%;
}

.exit:hover {
    cursor: pointer;
    max-height: 25px;
}

.inner-float-block {
    position: relative;
    display: flex;
    height: 90%;
    width: 90%;
    margin: auto;
    /* border: 1px solid black; */
    /* background-color: var(--light-blue); */
}

.inner-float-block label {
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.inner-float-block h2 {
    color: black;
    font-size: 50px;
    text-align: center;
}

@keyframes pulse {
    0% {
        background: radial-gradient(var(--bitcoin-light-orange), var(--bitcoin-orange) 75%);
    }
    5% {
        background: radial-gradient(var(--bitcoin-light-orange), var(--bitcoin-orange) 72%);
    }
    10% {
        background: radial-gradient(var(--bitcoin-light-orange), var(--bitcoin-orange) 69%);
    }
    15% {
        background: radial-gradient(var(--bitcoin-light-orange), var(--bitcoin-orange) 66%);
    }
    20% {
        background: radial-gradient(var(--bitcoin-light-orange), var(--bitcoin-orange) 63%);
    }
    25% {
        background: radial-gradient(var(--bitcoin-light-orange), var(--bitcoin-orange) 60%);
    }
    30% {
        background: radial-gradient(var(--bitcoin-light-orange), var(--bitcoin-orange) 57%);
    }
    35% {
        background: radial-gradient(var(--bitcoin-light-orange), var(--bitcoin-orange) 54%);
    }
    40% {
        background: radial-gradient(var(--bitcoin-light-orange), var(--bitcoin-orange) 51%);
    }
    45% {
        background: radial-gradient(var(--bitcoin-light-orange), var(--bitcoin-orange) 48%);
    }
    50% {
        background: radial-gradient(var(--bitcoin-light-orange), var(--bitcoin-orange) 45%);
    }
    55% {
        background: radial-gradient(var(--bitcoin-light-orange), var(--bitcoin-orange) 48%);
    }
    60% {
        background: radial-gradient(var(--bitcoin-light-orange), var(--bitcoin-orange) 51%);
    }
    65% {
        background: radial-gradient(var(--bitcoin-light-orange), var(--bitcoin-orange) 54%);
    }
    70% {
        background: radial-gradient(var(--bitcoin-light-orange), var(--bitcoin-orange) 57%);
    }
    75% {
        background: radial-gradient(var(--bitcoin-light-orange), var(--bitcoin-orange) 60%);
    }
    80% {
        background: radial-gradient(var(--bitcoin-light-orange), var(--bitcoin-orange) 63%);
    }
    85% {
        background: radial-gradient(var(--bitcoin-light-orange), var(--bitcoin-orange) 66%);
    }
    90% {
        background: radial-gradient(var(--bitcoin-light-orange), var(--bitcoin-orange) 69%);
    }
    95% {
        background: radial-gradient(var(--bitcoin-light-orange), var(--bitcoin-orange) 72%);
    }
    100% {
        background: radial-gradient(var(--bitcoin-light-orange), var(--bitcoin-orange) 75%);
    }
}

.inner-float-img {
    /* border: 1px solid black; */
    float: right;
    width: 50%;
    background: radial-gradient(var(--bitcoin-light-orange), var(--bitcoin-orange) 70%);
    /* background-size: 50% 50%; */
    animation: pulse 3s infinite;
}

form {
    /* background: linear-gradient(0deg, var(--light-blue), white 30%); */
    background: white;
    border: 5px solid var(--bitcoin-light-orange);
    border-radius: 20px;
    padding: 10px;

}

input {
    border: 3px solid var(--light-blue) !important;
}

.newsletter-label {
    font-size: 15px !important;
}

.btn-cntr {
    /* margin: 0 auto !important; */
}

nav {
    box-shadow: 1px 1px 10px orange;
    height: 145px;
}

.navbar-brand {
    padding: 0 !important;
    border-radius: 0 !important;
}

nav ul {
    font-weight: bold;
    font-size: 25px;
    color: var(--bitcoin-orange) !important;
}

.nav-link {
    font-size: 22px !important;
    color: var(--bitcoin-gray) !important;
    letter-spacing: 2px !important;
    margin: 0 7px !important;
}

.nav-link:hover {
    color: var(--bitcoin-orange) !important;
}

.fiat {
    /* text-decoration: line-through!important; */
    /* color: rgb(179, 179, 179); */
    /* color: var(--light-blue); */
}

.portfolio-link {
    text-decoration: underline;
    text-decoration-color: var(--bitcoin-light-orange);
}

.profile-icon:hover {
    cursor: pointer;
}

.active {
    color: var(--bitcoin-gray) !important;
}

.logo {
    width: 250px;
    padding: 0;
}

.btn-outline-success {
    color: var(--bitcoin-orange);
    border-color: var(--bitcoin-orange);
}

section {
    min-height: 400px !important;
}

.background {
    background: linear-gradient(45deg, var(--light-blue) 10%, white 21%, white 89%, var(--bitcoin-orange) 99%);
}

.hero {
    margin-top: 145px;
    min-height: 600px;
    background: linear-gradient(45deg, var(--light-blue) 10%, white 21%, white 89%, var(--bitcoin-orange) 99%);
    /* background: radial-gradient(white 96%, var(--bitcoin-orange) 99%); */
}

.hero-color-reverse {
    /* margin-top: 145px; */
    min-height: 600px;
    background: linear-gradient(135deg,  var(--light-blue) 10%, white 21%, white 89%, var(--bitcoin-orange) 99%);
}

.hero-text-container {
    height: 600px;
}

.hero-header {
    font-size: 50px;
}

.hero-text {
    border-radius: 10px;
    border-bottom: 7px double var(--bitcoin-gray);
    padding-bottom: 15px;
}

.lead {
    font-size: 20px;
}

.auto-type {
    font-weight: bold
}

.btn-primary {
    background-color: var(--bitcoin-orange);
    border-color: var(--bitcoin-gray);
    font-size: 25px;
}

.btn-primary:hover {
    background-color: orange;
    border-color: var(--bitcoin-orange);
}

.img-fluid {
    width: 100%;
}

.img-right {
    background: linear-gradient(45deg, var(--light-blue) 10%, white 21%, white 89%, var(--bitcoin-orange) 99%);
}

.img-left {
    background: linear-gradient(135deg,  var(--light-blue) 10%, white 21%, white 89%, var(--bitcoin-orange) 99%);
}

.last-home-sect {
    background: linear-gradient(135deg,  var(--light-blue) 10%, white 21%, white 89%, transparent 99%)
}

.hero-color-reverse img {
    width: 100%;
    height: 100%;
}

.welcome {
    min-height: 600px;
    background: linear-gradient(135deg, white 21%, white 89%, var(--bitcoin-orange) 99%);
    box-shadow: inset 0 10px 10px -10px var(--bitcoin-gray);
}

img {
    padding: 20px;
}

.img-background-right {
    background: radial-gradient(rgb(250, 244, 232), var(--light-blue), transparent 70%);
}

.img-background-left {
    background: radial-gradient(rgb(243, 230, 203), var(--bitcoin-light-orange), transparent 60%)
}

.about {
    box-shadow: inset 0 10px 10px -10px var(--bitcoin-gray);

}

.chart {
    height: 100%;
    padding:  5% 10%;
}

.transition-img{
    width: 100%;
    padding: 0;
    border-radius: 0;
}

.newsletter-sect {
    position: relative;
    padding: 0 0 10% 0;
    /* box-shadow: inset 0 10px 10px -10px var(--bitcoin-gray); */
    background: linear-gradient(var(--bitcoin-orange), rgb(14, 13, 13));
}

.newsletter-img-sect {
    background: transparent !important;
    /* background-color:  */
}

.newsletter {
    border: 10px double white; 
    padding: 10%;
    border-radius: 20px;
    min-height: 600px;
    background: linear-gradient(rgb(201, 134, 46), rgb(185, 114, 21));
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.74);
}

label {
    color: white;
}

.email-sect {
    margin-bottom: 50px !important;
}

.options-sect {
    margin-bottom: 50px !important;
}

.newsletter-header {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 40px;
}

.newsletter-text {
    font-size: 25px;
}

.newsletter-btn {
    background-color: white;
    color: var(--bitcoin-gray);
    font-weight: bold;
}

footer {
    min-height: 150px;
    padding: 20px 0;
    text-align: center;
    background-color: rgb(14, 13, 13);
    color: var(--light-blue);
}

footer a {
    text-decoration: underline;
    color: var(--light-blue);
}

/*  */
/*  */
/* Latest Crypto HTML */

.crypto-header {
    /* border: 1px solid black; */
    min-height: 200px !important;
    padding-top: 70px;
    text-align: center;
    background: linear-gradient(90deg, var(--light-blue), white 30%, white 74%, var(--bitcoin-light-orange));
}

.crypto-header > p {
    color: var(--bitcoin-gray);
}

.line {
    width: 50%;
    height: 1px;
    border: 3px solid var(--bitcoin-orange);
    border-radius: 50px;
    margin: 35px auto 0;
    background: transparent;
}

.crypto-info {
    /* box-shadow: inset 1px 1px 10px var(--bitcoin-gray); */
    padding-top: 50px;
    background: linear-gradient(90deg, var(--light-blue), white 30%, white 74%, var(--bitcoin-light-orange));
    padding: 50px 0;
}

.container {
    border-radius: 10px;
}

.crypto-list-div {
    display: flex;
    border: 3px solid var(--bitcoin-gray);
    border-radius: 5px;
    min-height: 400px;
    align-items: center;
    background: white;
    /* box-shadow: inset 1px 1px 10px var(--bitcoin-light-orange); */
}

.crypto-list {
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
    padding: 10px;
}

.graph {
    border-right: 3px solid var(--bitcoin-gray);
}


.stats {
    padding: 2%;
    border-left: 3px dotted var(--bitcoin-gray);
}
.space-left {
    margin-left: 10px;
}

.space-right {
    margin-right: 10px;
}

.stats {

}

/*  */
/*  */
/* Latest Fiat */

.view-height {
    /* height: calc(100vh - 145px); */
}

.construction-img-div {
    margin-top: 145px;
    text-align: center;
    height: 1vdh;
    /* width: 100%; */
}

.construction-div {
    width: 60%;
    border-radius: 20px;
    margin-top: 50px;
    /* margin-bottom: 50px; */
}

.construction-text {
    color: var(--bitcoin-gray);
    border-left: 5px double var(--bitcoin-light-orange);
    border-right: 5px double var(--bitcoin-light-orange);
}

.soon {
    color: var(--bitcoin-orange);
    text-decoration:double underline;
}

.big-construction-img {
    display: block;
}

.small-construction-img {
    display: none;
}

.fiat-footer {
}

/*  */
/*  */
/* Pricing Page */

.tier-list {
    margin-top: 145px;
    padding: 5px;
    text-align: center;
    background: radial-gradient(var(--light-blue) 30%, white);
    /* background: linear-gradient(white 30%, var(--bitcoin-light-orange)); */
}

.indent {
    margin: 5% 3% 0 3%;
    box-shadow: inset 0px 0px 10px var(--bitcoin-gray);
    border-radius: 50px;
    background-color: white;
    /* border: 5px solid black; */
}

h6 {
    color: var(--light-blue);
    margin: 0 20%;
}

.price-header {
    padding-top: 60px;
    font-weight: bold;
    font-size: 60px;
    /* letter-spacing: 3px; */
    word-spacing: 8px;
    /* text-decoration: underline; */
    color: var(--bitcoin-gray);
}

.price-sect {
    margin-top: 30px;
}

.tier {
    /* margin: 45px; */
    padding: 3% 2%;
    min-height: 600px;
    border-radius: 50px;
    box-shadow: 1px 1px 10px orange;
    text-align: center;
    background: linear-gradient(var(--bitcoin-orange) 25%, white 25%);

}

.tier > h2 {
    color: white;
    font-weight: bold;
}

.tier > h3 {
    color: var(--bitcoin-gray);
    margin-top: 20%;
}

.tier > ul {
    margin-top: 10%;
}

.tier > ul > li {
    text-align: left;
    font-size: 17px;
}

.btn {
    /* margin-top: 20% !important; */
}

.pricing-disclaimer {
    margin: 2% 0;
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
    /* background-color: var(--bitcoin-light-orange); */
    min-height: 100px !important;
}

/*  */
/*  */
/* Portfolio */

.page {
    margin-top: 145px;

}

.profile-value {
    font-weight: bold;
    padding: 3% 0;

}

.bento {
    border-radius: 100px;
    
}

.profile {
    background-color: white;
    border: 5px solid var(--bitcoin-orange);
    box-shadow: inset 0px 0px 15px var(--bitcoin-orange);
    box-shadow: 5px 5px 10px var(--bitcoin-gray);
    padding: 35px 0px;
    font-size: 20px;
}

.profile-img-div {
    width: 45%;
    height: 60%;
    /* border: 1px solid black; */
    border-radius: 50%;
    /* display: inline-block; */
    background: radial-gradient(var(--bitcoin-light-orange) 55%, var(--light-blue));
    /* padding: 10px; */
}
.profile-img {
    width: 100%;
}


.profile-p-cog {
    width: 70%;
    margin-top: 50px;
}

/* Cog rotation */
@keyframes rotateTwice {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .cog {
    width: 15%;
    transition: transform 0.5s ease-in-out;
  }
  
  .cog:hover {
    animation: rotateTwice 5s linear;
    cursor: pointer;
  }
  /* End Cog Rotation */

.profile-paragraph > p {
    display: block
}

.value {
    /* background: linear-gradient(var(--bitcoin-light-orange), white); */
    /* background: var(--bitcoin-light-orange); */
    /* box-shadow: inset 0px 0px 0px var(--bitcoin-orange); */

    /* border-left: 5px solid var(--bitcoin-orange);
    border-right: 5px solid var(--bitcoin-orange); */
    border-radius: 0px;
    font-weight: bold;
    text-align: center;
    padding: 35px -20px;
}

.acct-value > h1 {
    text-decoration: underline;
}

.acct-value > p {
    font-size: 60px !important;
}

.green {
    color: green;
}

.red {
    color: red;
}

.orange {
    color: var(--bitcoin-orange);
}

.blue {
    color: var(--electric-blue);
}

.value > div > h1, .value > div > h2 {
    color: black;
}

.value > div > h1 {
    font-size: 55px;
}

.value > div > h2 {
    font-size: 40px;
}

.value > div > p {
    font-size: 30px;
}

.graph-invested {
    /* margin-top: 50px; */
    box-shadow: inset 0 10px 10px -10px var(--bitcoin-gray);
    background: radial-gradient(var(--light-blue) , white 85%);
    /* background: var(--light-blue); */
    padding: 40px;
}

.graph-container {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    background: white;
;}

.profile-graph {
    height: 425px;
    width: 470px;
    border: 2px solid var(--bitcoin-gray);
    border-radius: 10px;
    
}

.graph-text {
    padding-top: 16px;
}

.invested-crypto h2 {
    text-align: center;
    color: black;
    font-size: 40px;
}

.invested {
    height: 100px;
    width: 938px;
    border-radius: 10px;
    border: 1px solid var(--bitcoin-gray);
    box-shadow:inset 0 0 6px var(--bitcoin-gray);
    background: white;
}

/*  */
/*  */
/* Terms of Service */

.terms-page {
    margin-top: 145px;
    text-align: center;
    /* background: var(--bitcoin-light-orange); */
}

.terms-sect {
    margin: 10% 10% 3% 10%;
    padding: 2%;
    border-radius: 40px;
    box-shadow: 0 0 10px var(--bitcoin-orange);
}

.terms-sect p {
    padding: 30px;
    font-size: 25px;
}

.terms-header {
    text-decoration: underline;
}

@media (max-width: 1900px) {
    .hero-header {
        font-size: 40px;
    }

    .tier {
        background: linear-gradient(var(--bitcoin-orange) 20%, white 20%);
    }
}

@media (max-width: 1625px) {
    .hero-header {
        font-size: 40px;
    }
}

@media (max-width: 1550px) {
    .hero-header {
        font-size: 35px;
    }
}

@media (max-width: 1399px) {
    .hero-header {
        font-size: 40px;
    }

    .construction-div {
        width: 80%;
    }

    .tier {
        margin: 10px;
    }

}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
    .hero-header {
        font-size: 35px;
    }
}

@media (max-width: 992px) {
    .hero-header {
        font-size: 40px;
    }

    .terms-sect {
        margin: 10% 2% 3% 2%;
    }

    .construction-div {
        width: 90%;
    }

    .tier {
        width: 90%;
    }

}

@media (max-width: 768px) {
    .hero-header {
        font-size: 38px;
    }

    .construction-div {
        width: 100%;
    }

    .big-construction-img {
        display: none;
    }

    .small-construction-img {
        display: block;
    }
}

@media (max-width: 576px) {
    .hero-header {
        font-size: 28px;
    }

    .construction-div > h1 {
        font-size: 22px;
    }

    .construction-sign {
        display: none;
    }

    .construction-text {
        font-size: 20px;
    }

    .price-header {
        font-size: 28px;
    }

    .indent > h6 {
            /* font-size: 20px; */
        margin: 1%;
    }

    .price-sect {
        
    }

    .tier > h6 {
        margin-top: 10%;
    }
}

@media (max-width: 395px) {
    .hero-header {
        font-size: 19px;
    }
}